/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.705);
}

/* Estilos del encabezado */
header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.btn-mostrar {
  background-color: #0099ffe5;
  color: #ff0e0e;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 100px;
}

/* Estilos de la galería de productos */
.gallery {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.gallery li {
  background-color: #07000050;
  padding: 20px;
  box-shadow: 5px 1px 5px 3px brown;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.gallery li:hover{
  box-shadow: 3px 5px 3px 1px aquamarine;
}

.gallery li img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.gallery li img:hover {
  box-shadow: 2px 5px 5px aquamarine;
}

.gallery li span {
  color: aquamarine;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.gallery li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.gallery li button img {
  width: 70px;
}
/* Estilos del carrito */
.carrito {
  margin-right: 320px;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.616);
  padding: 20px;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
  overflow-y: scroll;
}

.carrito.active {
  transform: translateX(0);
}

.carrito h2 {
  color:brown;
  font-size: 18px;
  margin: 0 0 10px;
}

.carrito-lista {
  color:aquamarine;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carrito-lista li {
  margin-bottom: 10px;
}

.carrito-total {
  margin-right: -15px;
  font-size: 16px;
  margin-top: 20px;
} 

/* Estilos responsive */
@media screen and (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  h1 {
      margin-bottom: 10px;
  }

  .gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 10px;
  }

  .carrito {
      width: 100%;
      transform: translateX(0);
  }
}